body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-left: 60px;
}

table {
    border-collapse: collapse;
    font-size: 11pt;
    border: 1px solid #cccccc;
    margin-left: 60px;
}

td {
    padding: 7px;
    height: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

th {
    background-color: #00a8ff;
    color: white;
    height: 30px;
}

tr:nth-child(even) {
    background-color: #dcdde1;
}

.btn-update {
    border: 1px solid #4cd137;
    background: #4cd137 url("image/update.png") no-repeat 5px 4px;
    height: 25px;
    padding-left: 15px;
    padding-top: 5px;
    
}

.btn-delete {
    border: 1px solid #e84118;
    background: #e84118 url("image/delete.png") no-repeat 5px 4px;
    height: 25px;
    padding-left: 15px;
    padding-top: 5px;
    
}